{% extends 'base/macros.html' %}
{% block html %}
<!-- Begin HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<!-- Primary Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    {% block head %}
      
    {% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add Material font (Roboto) and Material icon as needed -->
    <link href="https://api.fateslist.xyz/static/assets/prod/lexend-deca.min.css" rel="stylesheet" />
    <link href="https://api.fateslist.xyz/static/assets/prod/material-icons.min.css" rel="stylesheet" />
    <!-- Material CSS -->
    <link href="https://api.fateslist.xyz/static/assets/prod/material-slim.min.css?v=10" rel="stylesheet"/>
    <!-- Base Styles -->
    <link href="https://api.fateslist.xyz/static/assets/prod/base.min.css?v=popplio" rel="stylesheet">
</head>
<body style="background-color: #1D1E23;">
    <!-- jQuery, Bootstrap Bundle (includes Popper) and Material -->
    <div class="text-center" id="site-content">
	    <main>{% block icontent %}{%endblock%}{% block content %}{% endblock %}</main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/gh/djibe/material@4.6.0-rc.2/js/material.min.js" crossorigin></script>
    <script src="https://api.fateslist.xyz/static/assets/prod/base.min.js?v=3067ab"></script>
</div>
</body>
<script>
  var observer = lozad()
  observer.observe('.lozad', {
    enableAutoReload: true // it will reload the new image when validating attributes changes
  });
</script>
</html>
{% endblock %}
