{% macro flCard(data, rand, type) %}
    <!--Get type of card and parse it-->
    {% if not rand %}
        {% set id = data.bot_id or data.id or data.user.id %}
    {% endif %}
    <section class="bot-card">
	    <div class="lozad bot-card-banner" data-background-image="{% if not rand %}{{data.banner or '/static/assets/prod/banner.webp?v=1'}}{% endif %}">
            {% if (type == 'bot' or type == 'server') and (data.state == enums.BotState.certified or rand) %}
	            <span class="iconify bot-card-cert" data-icon="fa-solid:certificate" data-inline="false" data-height="3em"></span>
            {% endif %}
            <a href="/{{type}}/{{id}}" class="bot-card-view-link">
		    <img alt="Bot Avatar" class="lozad bot-card-avatar" data-placeholder-background="black" data-src="{% if not rand %}{{data.user.avatar}}{% endif %}" width="30%"/>
            </a>
        </div>
        <div>
		<a href="/{{type}}/{{id}}" class="bot-card-view-link">
                <div class="bot-card-username">
			<p class="text-nowrap text-break text-center bot-card-username-txt white-bold">{% if rand %}Fetching random bot{% else %}{{data.user.username}}{% endif %}</p>
                </div>
		</a>
        </div>
        <p class="bot-card-description">
		<strong class="bot-card-description-txt" style="overflow-wrap: anywhere;">{% if not rand %}{{data.description}}{% endif %}</strong>
        </p>
        {% if type == 'bot' or type == 'server' %}
            <div class="d-flex bot-card-footer">
            	<div class="bot-card-footer-stats">
                    <p class="text-center white-bold">
			<span class="iconify i-m3" data-icon="fa-solid:server" data-inline="false"></span><span style="margin-left: 3px;" class="bot-servers">{% if rand %}N/A{% else %}{{human_format(data.guild_count)}}{% endif %}</span>
		     </p>
                </div>
                <div class="bot-card-footer-stats">
                    <p class="text-center white-bold">
			    <span class="iconify i-m3" data-icon="fa-solid:thumbs-up" data-inline="false"></span><span style="margin-left: 3px;" class="bot-votes">{% if rand %}N/A{% else %}{{human_format(data.votes)}}{% endif %}</span>
		    </p>
                </div>
            </div>
        {% endif %}
        <div class="bot-card-actions">
            <a role="button" aria-label="View" href="/{{type}}/{{id}}" class="btn btn-outline-light bot-card-actions-link bot-card-view-link">View</a>
            {% if type != 'profile' %}
                <a role="button" aria-label="Invite" href="/{{type}}/{{id}}/invite" class="btn btn-outline-light bot-card-actions-link bot-card-invite-link" style="margin-left: 6.5%;" target="_blank">Invite</a>
            {% endif %}
        </div>
    </section>
{% endmacro %}
{% macro tags(tags_fixed) %}
	{% for tag in tags_fixed %}
		<button id="tags-{{tag.id}}" class="btn d-flex btn-sm justify-content-center align-items-center btn-outline-light buttons-all" style="margin-bottom: 4px !important; margin-left: 6px;" onclick="location.href='/search/tags?tag={{tag.id}}&target_type={{type}}'" title="{{tag.name}}"><span class="iconify" data-icon="{{tag.iconify_data}}" data-inline="false" aria-hidden="true"></span><span style="margin-left: 3px; font-size: 13px;"><strong>{{tag.name}}</strong></span></button>
	{% endfor %}
{% endmacro %}

{# Set some global variables for the form handling in js to easily serialize it #}
{% set form_values_text = [] %}
{% set form_values_select_single = [] %}
{% set form_values_select_multiple = [] %}
{% set actions = False %}


{% macro tip(text) %}
	<div class="d-inline-block white alert alert-info tip" role="alert">
		<span class="iconify" data-icon="foundation:lightbulb" data-inline="false" data-height="1.5em"></span>{{text|safe}}
	</div>
{% endmacro %}
{% macro optional() %}
	{{ tip("Everything in this section is completely optional") }}
{% endmacro %}

{% macro textInput(label, id, placeholder, min=None, max=None, required=False, type="text", textarea=False, in_form=True) %}
	{% set val = bot[id] if context.mode == "edit" and bot.get(id) else '' %}
	{% if in_form %}
		{% set _ = form_values_text.append(id) %}
	{% endif %}
	<div>
	<label for="{{id}}">{{label}} {% if required %}<span style="color: red; font-weight: bold" aria-hidden="true">*</span>{% endif %}</label>
	<{{"textarea" if textarea else "input"}}
	  class="form-control fform text-input" 
       	  placeholder="{{placeholder}}" 
	  type="{{type}}" 
	  name="{{id}}"
	  id="{{id}}"
	  {% if required %}required{% endif %}
	  {% if min %}minlength="{{min}}"{% endif %}
	  {% if max %}maxlength="{{max}}"{% endif %} 
	  {% if not textarea %}value="{{ val }}"{% endif %}>{% if textarea %}{{val}}{% endif %}</{{"textarea" if textarea else "input"}}>
	 </div>
{% endmacro %}
{% macro selectInput(id, label, help_text, choices, multiple=False, required=False, in_form=True) %}
	{% if in_form %}
		{% if multiple %}
			{% set _ = form_values_select_multiple.append(id) %}
		{% else %}
			{% set _ = form_values_select_single.append(id) %}
		{% endif %}
	{% endif %}
	<label for="{{id}}">{{label}} {% if required %}<span style="color: red; font-weight: bold" aria-hidden="true">*</span>{% endif %}</label>
	<div class="fform fform-select">
		<select-pure class="select-pure-fl" id="{{id}}" name="{{id}}" default-label="{{help_text}}" {% if multiple %}multiple{% endif %} {% if required %} required {% endif %}>
		<option-pure value="" disabled="" hidden="">{{help_text}}</option-pure>
		{% for choice in choices %}
			{% if choice.value in ("true", "false") %}
				{% set value = (choice.value == "true") %}
			{% else %}
				{% set value = choice.value %}
			{% endif %}
			<option-pure 
			  value="{{choice.value}}"
			  {% if (context.mode == "add" and choice.default) or ((context.mode == "edit" and id in bot.keys()) and ((not multiple and bot[id] == value) or (multiple and value in bot[id]))) %}selected{% endif %}
			>{{choice.text}}</option-pure>
		{% endfor %}
	</select-pure>
	</div>
{% endmacro %}
{% macro tab(id, default=False, name=None) %}
	<button id="{{id}}-button" class="tablinks" onclick="openf(event, '{{id}}', this, {{1 if default else 0}}, hideSaveOnAboutTab)">{{name if name else id.title() }}</button>
{% endmacro %}

{% block html %}
{% endblock %}
