{% extends "base/base.html" %}

{% block head %}

{% endblock %}

{% block content %}
<div style="text-align: center; display: block; color: white;">
	<h3 style="font-weight: bold;">Login</h3>
	<h4>We're glad to see you again!</h4>
	{% if context.perm_needed %}
	<h5><span style="color: red">Whoops!</span><br />You need to login (again) {{context.perm_pretty}}</h5>
	{% endif %}
</div>
<div style="text-align: center; display: block;">
	<button onclick="getLoginLink()" class="btn btn-outline-light btn-lg" style="margin-bottom: 20px;">Login</button>
</div>
<script>
	context = {{context|tojson}}
	searchParams = new URLSearchParams(window.location.search)
	if(searchParams.get("dev")) localStorage.setItem("login-dev", "true")
</script>
<script src="/static/assets/prod/login.min.js?v=8"></script>
{% endblock %}
{% block footer %}

{% endblock %}
