{% extends "base/base.html" %}

{% macro save() %}
	<section id="save-changes">
		<br/>
		<button class="btn btn-outline-light btn-save" onclick="submitProfile()">{{context.mode}}</button>
		<p style="margin-bottom: 20px"></p>
	</section>
{% endmacro %}

{% block head %}
	<link rel="stylesheet" href="/static/assets/prod/bot_server.min.css" media="none" onload="if(media!='all')media='all'"/>
	<link rel="stylesheet" href="/static/assets/prod/common-settings-menu.min.css" media="none" onload="if(media!='all')media='all'"/>
{% endblock %}

{% block content %}
	<img style="border-radius: 50%; width: 120px;" class="lozad" data-src="{{bot.user.avatar}}" id="bot-avatar" alt="{{bot.user.username}}'s avatar">
	<h4 class="white">{{bot.user.username}}</h4>
	<h5 class="white" style="opacity: 0.8; margin-bottom: 30px;">Profile Settings</h5>
	<div id="parent">
		<div id="switcher" style='margin-bottom: 3px;' class='blackbar'>
			<div class="tab">
				{{ tab("about", default=True) }}
				{{ tab("basic-settings", name="Basics")}}
				{{ tab("css", name="CSS") }}
			</div>
			<section id="about-tab" class="tabcontent">
				<h5 class="white">Profile Info</h5>
					<div class="info-content">
						<p class="white">Profile State: {{enums.UserState(bot.state).__doc__}} ({{bot.state}})</p>
					</div>
				<h5 class="white">User Token</h5>
					<code class="white" id="api-token">Click 'Show' to see your user token</code>
					<br/>
					<button id="api-button" class="btn btn-outline-light" onclick="showToken(this)">Show</button>
				<h6 class="white section" id="regen-token-header">Regenerate</h6>
					<p class="white"><em>Accidentally</em> leaked your API token? Just be sure to change the token everywhere you use it and make sure it doesn't happen again!</p>
					<button onclick='regenToken()' class="btn btn-outline-light">Regenerate</button>
			</section>
			<section id="basic-settings-tab" class="tabcontent">
				{{ selectInput(
					"site_lang",
					"Site Language (logged in only for now)",
					"Site Language",
					context.langs
				) }}
				{{ textInput(
					"Description",
					"description",
					"Enter a description for your profile here",
					required=True
				) }}

				{{ tip("JavaScript in bots is a huge power and responsibility Fates List gives to bot owners to make their bot pages more interactive. Some (rare) bot owners however, despite all our testing and reporting abuse JavaScript and iframes to deliver potentially malicious content. You can disable or enable javascript and iframes in bot pages here! Note that this does not apply to markdown content which is anyways secure but this may be changed in the future...") }}
				{{ selectInput(
					"js_allowed",
					"Allow Javascript?",
					"Should JS be allowed in long descriptions?",
					(
						{
							"value": "true",
							"text": "Yes"
						},
						{
							"value": "false",
							"text": "No",
							"default": True
						}
					)
				) }}
			</section>	
			<section id="css-tab" class="tabcontent">
				{{ textInput(
					"User CSS",
					"user_css",
					"Warning: Fates List is not responsible for any issues due to your custom user CSS. To use javascript in custom css, put your JS in a </style><script>YOUR JS HERE</script><style> tag",
					textarea=True
				) }}
				{{ textInput(
					"Profile CSS",
					"profile_css",
					"Enter any profile CSS you want here. For security purposes, this does not allow Javascript whatsoever!",
					textarea=True
				) }}
			</section>
		</div>
	</div>
	{{ save() }}
	<!-- Javascript here -->
	<script>
		var context = {{context|tojson}}
		context.default_tab_button = "about-button"
		context.form_values = {
			text: {{form_values_text|tojson}},
			select_single: {{form_values_select_single|tojson}},
			select_multiple: {{form_values_select_multiple|tojson}}
		}
	</script>
	<script src="/static/assets/prod/tabs.min.js?v=4" defer></script>
	<script src="/static/assets/prod/profile_edit.min.js?v=4"></script>
	<script src="https://cdn.jsdelivr.net/npm/select-pure@latest/dist/index.js"></script>
{% endblock %}
