{% extends "base/base.html" %}

{% block head %}
<style>
.modalux {
    border-radius: 50%;
}
.pane {
	margin-left: 5%;
	margin-right: 5%;
}
.padspan {
	line-height: 2;
}
</style>
{% endblock %}

{% block content %}
    <div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center"><img style="border-radius: 50%;width: 128px;" src="{{user.user.avatar}}">
        <h3 class="text-center" style="color: rgba(255,255,255,0.87);font-weight: bold;">{{user.user.username}}</h3>
	<span style="font-size: 20px" class="white">
		<span id="bio_text-0" style="opacity: 0.7">{{user.profile.description}}</span>
	</span>
	<section style="margin-top: 7px; padding: 3px;" id="badges">
		<div>
			{% for badge in user.profile.badges %} <!-- Badges -->
				<a href="javascript:void(0)"><img src='{{badge.image}}' alt='{{badge.name}} badge' height="40px" width="45px" class="modalux" onclick="modalShow('{{badge.name}}', '{{badge.description}}')"/></a>
        		{% endfor %}
		</div>
	</section>
    </div>
    <p class="white">Approved Bots: {{staff_action_get(enums.UserBotAction.approve).__len__()}}</p>
    <p class="white">Denied Bots: {{staff_action_get(enums.UserBotAction.deny).__len__()}}</p>
    <p class="white">Certified Bots: {{staff_action_get(enums.UserBotAction.certify).__len__()}}</p>
    {% if personal %}
    <a href="/profile/{{context.user_id}}/edit" class="btn btn-outline-light">Edit Profile</a>
    {% endif %}
    <!-- <div class="d-flex pane">
	    <aside class="white" style="text-align: left; opacity: 0.8">Your User Token allows you to interact with our user APIs to do things like changing your description every set amount of time, setting your javascript state using a command and much more. However, with great power comes great responsibility. Do not share this user token with anyone, ever. Doing so will allow said users to add bots using the API as you (will be fixed soon with oauth enforcement)</aside>
    </div> -->
    <hr style="font-size: 20px;border-top-width: 1px;border-top-color: #eee;width: 90%;">
    <div class="d-flex" style="margin-left: 5%;"><span class="iconify" data-icon="fa-solid:robot" data-inline="false" data-height="3em" style="color: white"></span>
	    <h4 style="color: rgba(255,255,255,0.87);margin-left: 15px;">{% if not personal %}{{user.user.username}}'s Bots{%else%}Your Bots{%endif%}</h4>
    </div>
    <div class="d-flex flex-wrap justify-content-sm-center align-items-sm-center justify-content-md-center justify-content-lg-center" id="tt-1" style="width: 90%;margin: 10px 5%;">
        {% for bot in user.bots %}
		{% if personal or bot.state in (enums.BotState.verified, enums.BotState.certified) %}
			{{ flCard(bot, False, 'bot') }}
		{% endif %}
	{% endfor %}
    </div>

    {% if personal %}
        <aside class="white" style="margin-left: 10px; opacity: 0.8; margin-bottom: 11px;">Note that the above list of bots includes your bots in the queue, denied bots (resubmit your bot once its fixed!) and banned bots (make a support ticket to learn why and how to fix it). These bots are hidden to only you and staff until it is approved or unbanned or requeued and approved</aside>
    {% endif %}
{% endblock %}
{% block footer %}
    
{% endblock %}
