.pre {
    white-space: pre-line;
    word-wrap: break-word;
}

textarea {
    width: 100%; 
    height: 200px !important; 
    font-size: 20px !important; 
    resize: none;
}

button {
    display: block;
    width: 100px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

#verify-btn {
    display: initial;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
}

.header-anchor {
    display: none;
}
h2:hover > .header-anchor {
    display: initial;
}
h3:hover > .header-anchor {
    display: initial;
}

.info, .warning, .aonly, .guidelines, .generic {
    border: 3px solid;
    margin-bottom: 3px;
    padding: 3px;
}

.info:before {
    content: "Info";
    font-size: 26px;
    font-weight: bold;
    color: blue;
}

.guidelines:before {
    content: "Guidelines";
    font-size: 26px;
    font-weight: bold;
    color: green;
}


.warning:before {
    content: "Warning";
    font-size: 26px;
    font-weight: bold;
    color: red;
}

.generic {
    margin-top: 20px;
    margin-bottom: 20px;
}

.aonly:before {
    content: "Admin Only!";
    font-size: 26px;
    font-weight: bold;
    color: yellow;
}

.info {
    border-color: blue;
    background-color: rgba(0, 0, 255, 0.1);
}

.warning {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

.generic {
    border-color: red;
    background-color: rgba(255, 20, 10, 0.1);
}

.aonly {
    border-color: yellow;
    background-color: rgba(255, 255, 0, 0.1);
}

.guidelines {
    border-color: green;
    background-color: rgba(255, 0, 0, 0.1);
}

.admin-only {
    display: none;
}

.refresh-btn {
    position: fixed !important; 
    bottom: 0; 
    right: 0; 
    background-color: white;
    color: black;
    border: none;
    border-radius: 50% 50% 50% 50%;
    box-shadow: -1px 0px 1px 1px inset;
    width: 50px;
    height: 50px;
}

.refresh-btn-active {
    /* The animation part: */
    animation-name: spin;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}